/* /*DCFB - G - 'DDC-FB (Disconnect-Facebook - Gagovernment)
(Display, Dimension, Color, Font, Borders, Governing) 
Governing: Specificity, Inheritance, Rule Order
 */
body {
    height:100vh;
    box-sizing: border-box;
    background-color: rgb(241, 236, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

/* ---- MAIN BOX + UPPER BOX + LOWER BOX----- */
.main-container {
    display:flex;
    flex-direction: column;
    padding: 40px 30px;
    border: 4px solid rgb(122, 158, 67);
    margin: 0 auto;
    width: 75vw;
    height: 80vh;
    gap: 20px;
}

.submain_1 {
    display:flex;
    padding: 15px 30px;
    border: 4px solid rgb(122, 158, 67);
    margin: 0 auto;
    height: 50vh;
    width: 60vw;
    align-items:center;
    justify-content: space-between;
}

.submain_2 {
    display: flex;
    padding: 15px 30px;
    border: 4px solid rgb(122, 158, 67);
    margin: 0 auto;
    height: 50vh;
    width: 60vw; 
    align-items: center;
    justify-content: space-between;
    gap: 10px;
   
}

/* ---- UPPER BOX DIVS-----  */
.subsub_1 {
    border: 4px solid rgb(235, 161, 112);
    height: 30vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

div.subsub_1#humanScore, div.subsub_1#compScore {
    width: 10vw;
}

div.subsub_1#monitor {
    width: 30vw;
    justify-content: center;
}

button#start {
    background-color: rgb(150, 223, 150);
    color: rgb(58, 58, 14);
    border: 4px solid grey;
    min-width: 8vw;
    height: 100px;
    font-size: 2.5em;
}

div.subsub_1#monitor > p {
    display:block;
    font-size: 3rem;
    font-weight:bolder;
}

div.subsub_1#humanScore > p:last-child, div.subsub_1#compScore > p:last-child {
    display: inline-block;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    /* background-color: yellow; */
}

/* ------ LOWER BOX DIVS ------ */
.subsub_2 {
    display:flex;
    border: 4px solid rgb(235, 161, 112);
    height: 30vh;
}

div.subsub_2#pick, div.subsub_2#wallpick {
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 80px;
    height: 80px;
    padding: 0;
}

div.subsub_2#arenafight {
    border: 8px solid black;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;

}

div.subsub_2#arenafight > div{
    border: 8px solid black;
} 
 
img#fighter, #wall-e {
    display:block;
    width: 10vw;
    height: 30vh;
    object-fit: contain;
   
}

#vs {
    display:block;
    width: 5vw;
    height: auto;
    object-fit: contain;
}

#sub_wallpick {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(197, 154, 188);
    font-size: 80px;
}


 


